/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

}

body {
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(122, 122, 122, 0.933); /* Cor da barra de rolagem */
  border-radius: 6px; /* Borda arredondada da barra de rolagem */
}

/* Para navegadores Gecko (Firefox) */
::-moz-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-moz-scrollbar-thumb {
  background-color: #3498db; /* Cor da barra de rolagem */
  border-radius: 6px; /* Borda arredondada da barra de rolagem */
}
